<div class="card" style="width: 25em; margin: 2rem">
    <div class="card-body">
        <h5 class="card-title">Add a Notice</h5>
        <a
            style="width: 15rem; margin: 2px"
            href="/admin/add-notice"
            class="btn btn-success"
            >Click Here to Add a notice</a
        >
        <a
            style="width: 16rem; margin: 2px"
            href="/admin/getNoticeList"
            class="btn btn-primary"
            >Click here to view the notice list</a
        >
    </div>
</div>

<div class="card" style="width: 25rem; margin: 2rem">
    <div class="card-body">
        <h5 class="card-title">Add a Result</h5>
        <a
            style="width: 15rem; margin: 2px"
            href="/admin/upload-results"
            class="btn btn-success"
            >Click Here to Add a result</a
        >
        <a
            style="width: 18rem; margin: 2px"
            href="/admin/view-results"
            class="btn btn-primary"
            >Click here to view the result list</a
        >
    </div>
</div>
